<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/icon" href="/static/img/favicon.ico">
    <title>QRCodeBR: Gerador de QR Code</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
</head>

<body>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo"> <img class="logo" src="static/img/logoqrcodebr.png" alt=""></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name"></span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li><a href="#" data-translate="HOME">HOME</a></li>
                    <li><a href="#">SOBRE NOS</a></li>
                    <li><a href="">CONTATO</a></li>
                    <li><a href="">POLITICA PRIVACIDADE</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="card">
        <div class="row">
            <div class="column">
                <img class="toolbar" onclick="window.location.href='/'" src="/static/img/link.png" alt="Imagem 1">
            </div>
            <div class="column">
                <img class="toolbar" onclick="window.location.href='/whatsapp'" src="/static/img/whatsapp.png" alt="Imagem 2">
            </div>
            <div class="column">
                <img class="toolbar" onclick="window.location.href='/sms'" src="/static/img/chat-bubbles-with-ellipsis.png" alt="Imagem 3">
            </div>
            <div class="column">
                <img class="toolbar"  onclick="window.location.href='/localizacao'" src="/static/img/location.png" alt="Imagem 4">
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img class="toolbar" onclick="window.location.href='/email'"  src="/static/img/mail.png" alt="Imagem 5">
            </div>
            <div class="column">
                <img class="toolbar" onclick="window.location.href='/telefone'" src="/static/img/telephone-call.png" alt="Imagem 6">
            </div>
            <div class="column">
                <img class="toolbar"  onclick="window.location.href='/cartVi'"  src="/static/img/business-cards.png" alt="Imagem 7">
            </div>
            <div class="column">
                <img class="toolbar" onclick="window.location.href='/wifi'" src="/static/img/wifi.png" alt="Imagem 8">
            </div>
        </div>
        <div class="row2">
            <div class="column">
                <img class="toolbar" onclick="window.location.href='/cardapio'"  src="/static/img/bar.png" alt="Imagem 4">
            </div>
        </div>
    </div>
    <form class="Qrcode" id="qrcodeForm" enctype="multipart/form-data" action="/generate" method="post">
        <label for="bglogo">Carregar Logo de Fundo Cardapio 1920X420:</label>
        <input  type="file" id="bglogo" name="bglogo" required><br><br>
        <label for="reclogo">Carregar Logo do Cardapio:</label>
        <input  type="file" id="reclogo" name="reclogo" required><br><br>
        <label for="restaurantname">Nome do Restaurante:</label>
        <input class="input" type="text" id="restaurantname" name="restaurantname" required><br><br>
        <label for="diahora">Dia e Horario:</label>
        <input class="input" type="text" id="diahora" name="diahora" placeholder="Seg a Dom - 18:00 as 23:00" required><br><br>
        
        
        <label for="entradaname">Nome da Entrada:</label>
        <input class="input" type="text" id="entradaname" name="entradaname" required><br><br>
        <label for="file">Carregar produto 1:</label>
        <input  type="file" id="p1" name="p1" required><br><br>
        <label for="entradadescription">Descrição da Entrada:</label>
        <textarea class="input" id="entradadescription" name="entradadescription" required></textarea><br><br>
        <label for="entradaprice">Preço da Entrada:</label>
        <input class="input" type="text" id="entradaprice" name="entradaprice" required><br><br>

        <label for="entradaname2">Nome da Entrada 2:</label>
        <input class="input" type="text" id="entradaname2" name="entradaname2" required><br><br>
        <label for="file">Carregar produto 2:</label>
        <input  type="file" id="p2" name="p2" required><br><br>
        <label for="entradadescription2">Descrição da Entrada 2:</label>
        <textarea class="input" id="entradadescription2" name="entradadescription2" required></textarea><br><br>
        <label for="entradaprice2">Preço da Entrada 2:</label>
        <input class="input" type="text" id="entradaprice2" name="entradaprice2" required><br><br>

        <label for="entradaname3">Nome da Entrada 3:</label>
        <input class="input" type="text" id="entradaname3" name="entradaname3" required><br><br>
        <label for="file">Carregar produto 3:</label>
        <input  type="file" id="p3" name="p3" required><br><br>
        <label for="entradadescription3">Descrição da Entrada 3:</label>
        <textarea class="input" id="entradadescription3" name="entradadescription3" required></textarea><br><br>
        <label for="entradaprice3">Preço da Entrada 3:</label>
        <input class="input" type="text" id="entradaprice3" name="entradaprice3" required><br><br>

        <label for="entradaname4">Nome da Entrada 4:</label>
        <input class="input" type="text" id="entradaname4" name="entradaname4" required><br><br>
        <label for="file">Carregar produto 4:</label>
        <input  type="file" id="p4" name="p4" required><br><br>
        <label for="entradadescription4">Descrição da Entrada 4:</label>
        <textarea class="input" id="entradadescription4" name="entradadescription4" required></textarea><br><br>
        <label for="entradaprice4">Preço da Entrada 4:</label>
        <input class="input" type="text" id="entradaprice4" name="entradaprice4" required><br><br>

        <label for="entradaname5">Nome da Entrada 5:</label>
        <input class="input" type="text" id="entradaname5" name="entradaname5" required><br><br>
        <label for="file">Carregar produto 5:</label>
        <input  type="file" id="p5" name="p5" required><br><br>
        <label for="entradadescription5">Descrição da Entrada 5:</label>
        <textarea class="input" id="entradadescription5" name="entradadescription5" required></textarea><br><br>
        <label for="entradaprice5">Preço da Entrada 5:</label>
        <input class="input" type="text" id="entradaprice5" name="entradaprice5" required><br><br>

        <label for="entradaname6">Nome da Entrada 6:</label>
        <input class="input" type="text" id="entradaname6" name="entradaname6" required><br><br>
        <label for="file">Carregar produto 6:</label>
        <input  type="file" id="p6" name="p6" required><br><br>
        <label for="entradadescription6">Descrição da Entrada 6:</label>
        <textarea class="input" id="entradadescription6" name="entradadescription6" required></textarea><br><br>
        <label for="entradaprice6">Preço da Entrada  6:</label>
        <input class="input" type="text" id="entradaprice6" name="entradaprice6" required><br><br>


        <label for="pratoprincipalname">Nome do Prato Principal:</label>
        <input class="input" type="text" id="pratoprincipalname" name="pratoprincipalname" required><br><br>
        <label for="file">Carregar produto 1 Principal:</label>
        <input  type="file" id="p1p" name="p1p" required><br><br>
        <label for="pratoprincipaldescription">Descrição do Prato Principal:</label>
        <textarea class="input" id="pratoprincipaldescription" name="pratoprincipaldescription" required></textarea><br><br>
        <label for="pratoprincipalprice">Preço do Prato Principal:</label>
        <input class="input" type="text" id="pratoprincipalprice" name="pratoprincipalprice" required><br><br>

        <label for="pratoprincipalname2">Nome do Prato Principal 2:</label>
        <input class="input" type="text" id="pratoprincipalname2" name="pratoprincipalname2" required><br><br>
        <label for="file">Carregar produto 1 Principal:</label>
        <input  type="file" id="p1p2" name="p1p2" required><br><br>
        <label for="pratoprincipaldescription2">Descrição do Prato Principal:</label>
        <textarea class="input" id="pratoprincipaldescription2" name="pratoprincipaldescription2" required></textarea><br><br>
        <label for="pratoprincipalprice2">Preço do Prato Principal:</label>
        <input class="input" type="text" id="pratoprincipalprice2" name="pratoprincipalprice2" required><br><br>

        <label for="pratoprincipalname3">Nome do Prato Principal 3:</label>
        <input class="input" type="text" id="pratoprincipalname3" name="pratoprincipalname3" required><br><br>
        <label for="file">Carregar produto 1 Principal:</label>
        <input  type="file" id="p1p3" name="p1p3" required><br><br>
        <label for="pratoprincipaldescription3">Descrição do Prato Principal:</label>
        <textarea class="input" id="pratoprincipaldescription3" name="pratoprincipaldescription3" required></textarea><br><br>
        <label for="pratoprincipalprice3">Preço do Prato Principal:</label>
        <input class="input" type="text" id="pratoprincipalprice3" name="pratoprincipalprice3" required><br><br>

        <label for="pratoprincipalname4">Nome do Prato Principal 4:</label>
        <input class="input" type="text" id="pratoprincipalname4" name="pratoprincipalname4" required><br><br>
        <label for="file">Carregar produto 1 Principal:</label>
        <input  type="file" id="p1p4" name="p1p4" required><br><br>
        <label for="pratoprincipaldescription4">Descrição do Prato Principal:</label>
        <textarea class="input" id="pratoprincipaldescription4" name="pratoprincipaldescription4" required></textarea><br><br>
        <label for="pratoprincipalprice4">Preço do Prato Principal:</label>
        <input class="input" type="text" id="pratoprincipalprice4" name="pratoprincipalprice4" required><br><br>

        <label for="pratoprincipalname5">Nome do Prato Principal 5:</label>
        <input class="input" type="text" id="pratoprincipalname5" name="pratoprincipalname5" required><br><br>
        <label for="file">Carregar produto 1 Principal:</label>
        <input  type="file" id="p1p5" name="p1p5" required><br><br>
        <label for="pratoprincipaldescription5">Descrição do Prato Principal:</label>
        <textarea class="input" id="pratoprincipaldescription5" name="pratoprincipaldescription5" required></textarea><br><br>
        <label for="pratoprincipalprice5">Preço do Prato Principal:</label>
        <input class="input" type="text" id="pratoprincipalprice5" name="pratoprincipalprice5" required><br><br>

        <label for="pratoprincipalname6">Nome do Prato Principal 6:</label>
        <input class="input" type="text" id="pratoprincipalname6" name="pratoprincipalname6" required><br><br>
        <label for="file">Carregar produto 1 Principal:</label>
        <input  type="file" id="p1p6" name="p1p6" required><br><br>
        <label for="pratoprincipaldescription6">Descrição do Prato Principal:</label>
        <textarea class="input" id="pratoprincipaldescription6" name="pratoprincipaldescription6" required></textarea><br><br>
        <label for="pratoprincipalprice">Preço do Prato Principal:</label>
        <input class="input" type="text" id="pratoprincipalprice6" name="pratoprincipalprice6" required><br><br>


        <label for="sobremesaname">Nome da Sobremesa:</label>
        <input class="input" type="text" id="sobremesaname" name="sobremesaname" required><br><br>
        <label for="file">Carregar produto 1 Sobremesa:</label>
        <input  type="file" id="p1s" name="p1s" required><br><br>
        <label for="sobremesadescription">Descrição da Sobremesa:</label>
        <textarea class="input" id="sobremesadescription" name="sobremesadescription" required></textarea><br><br>
        <label for="sobremesaprice">Preço da Sobremesa:</label>
        <input class="input" type="text" id="sobremesaprice" name="sobremesaprice" required><br><br>

        <label for="sobremesaname2">Nome da Sobremesa 2:</label>
        <input class="input" type="text" id="sobremesaname2" name="sobremesaname2" required><br><br>
        <label for="file">Carregar produto 1 Sobremesa:</label>
        <input  type="file" id="p1s2" name="p1s2" required><br><br>
        <label for="sobremesadescription2">Descrição da Sobremesa:</label>
        <textarea class="input" id="sobremesadescription2" name="sobremesadescription2" required></textarea><br><br>
        <label for="sobremesaprice2">Preço da Sobremesa:</label>
        <input class="input" type="text" id="sobremesaprice2" name="sobremesaprice2" required><br><br>

        <label for="sobremesaname3">Nome da Sobremesa 3:</label>
        <input class="input" type="text" id="sobremesaname3" name="sobremesaname3" required><br><br>
        <label for="file">Carregar produto 1 Sobremesa:</label>
        <input  type="file" id="p1s3" name="p1s3" required><br><br>
        <label for="sobremesadescription3">Descrição da Sobremesa:</label>
        <textarea class="input" id="sobremesadescription3" name="sobremesadescription3" required></textarea><br><br>
        <label for="sobremesaprice3">Preço da Sobremesa:</label>
        <input class="input" type="text" id="sobremesaprice3" name="sobremesaprice3" required><br><br>

        <label for="sobremesaname4">Nome da Sobremesa 4:</label>
        <input class="input" type="text" id="sobremesaname4" name="sobremesaname4" required><br><br>
        <label for="file">Carregar produto 1 Sobremesa:</label>
        <input  type="file" id="p1s4" name="p1s4" required><br><br>
        <label for="sobremesadescription4">Descrição da Sobremesa:</label>
        <textarea class="input" id="sobremesadescription4" name="sobremesadescription4" required></textarea><br><br>
        <label for="sobremesaprice4">Preço da Sobremesa:</label>
        <input class="input" type="text" id="sobremesaprice4" name="sobremesaprice4" required><br><br>

        <label for="sobremesaname5">Nome da Sobremesa 5:</label>
        <input class="input" type="text" id="sobremesaname5" name="sobremesaname5" required><br><br>
        <label for="file">Carregar produto 1 Sobremesa:</label>
        <input  type="file" id="p1s5" name="p1s5" required><br><br>
        <label for="sobremesadescription5">Descrição da Sobremesa:</label>
        <textarea class="input" id="sobremesadescription5" name="sobremesadescription5" required></textarea><br><br>
        <label for="sobremesaprice5">Preço da Sobremesa:</label>
        <input class="input" type="text" id="sobremesaprice5" name="sobremesaprice5" required><br><br>

        <label for="sobremesaname6">Nome da Sobremesa 6:</label>
        <input class="input" type="text" id="sobremesaname6" name="sobremesaname6" required><br><br>
        <label for="file">Carregar produto 1 Sobremesa:</label>
        <input  type="file" id="p1s6" name="p1s6" required><br><br>
        <label for="sobremesadescription6">Descrição da Sobremesa:</label>
        <textarea class="input" id="sobremesadescription6" name="sobremesadescription6" required></textarea><br><br>
        <label for="sobremesaprice">Preço da Sobremesa:</label>
        <input class="input" type="text" id="sobremesaprice6" name="sobremesaprice6" required><br><br>



        <label for="bebidaname">Nome da Bebida:</label>
        <input class="input" type="text" id="bebidaname" name="bebidaname" required><br><br>
        <label for="file">Carregar produto 1 Bebida:</label>
        <input  type="file" id="p1b" name="p1b" required><br><br>
        <label for="bebidadescription">Descrição da Bebida:</label>
        <textarea class="input" id="bebidadescription" name="bebidadescription" required></textarea><br><br>
        <label for="bebidaprice">Preço da Bebida:</label>
        <input class="input" type="text" id="bebidaprice" name="bebidaprice" required><br><br>
        

        
        <label for="bebidaname2">Nome da Bebida 2:</label>
        <input class="input" type="text" id="bebidaname2" name="bebidaname2" required><br><br>
        <label for="file">Carregar produto 1 Bebida:</label>
        <input  type="file" id="p1b2" name="p1b2" required><br><br>
        <label for="bebidadescription2">Descrição da Bebida:</label>
        <textarea class="input" id="bebidadescription2" name="bebidadescription2" required></textarea><br><br>
        <label for="bebidaprice2">Preço da Bebida:</label>
        <input class="input" type="text" id="bebidaprice2" name="bebidaprice2" required><br><br>

        
        <label for="bebidaname3">Nome da Bebida 3:</label>
        <input class="input" type="text" id="bebidaname3" name="bebidaname3" required><br><br>
        <label for="file">Carregar produto 1 Bebida:</label>
        <input  type="file" id="p1b3" name="p1b3" required><br><br>
        <label for="bebidadescription3">Descrição da Bebida:</label>
        <textarea class="input" id="bebidadescription3" name="bebidadescription3" required></textarea><br><br>
        <label for="bebidaprice3">Preço da Bebida:</label>
        <input class="input" type="text" id="bebidaprice3" name="bebidaprice3" required><br><br>

        
        <label for="bebidaname4">Nome da Bebida 4:</label>
        <input class="input" type="text" id="bebidaname4" name="bebidaname4" required><br><br>
        <label for="file">Carregar produto 1 Bebida:</label>
        <input  type="file" id="p1b4" name="p1b4" required><br><br>
        <label for="bebidadescription4">Descrição da Bebida:</label>
        <textarea class="input" id="bebidadescription4" name="bebidadescription4" required></textarea><br><br>
        <label for="bebidaprice4">Preço da Bebida:</label>
        <input class="input" type="text" id="bebidaprice4" name="bebidaprice4" required><br><br>

        
        <label for="bebidaname5">Nome da Bebida 5:</label>
        <input class="input" type="text" id="bebidaname5" name="bebidaname5" required><br><br>
        <label for="file">Carregar produto 1 Bebida:</label>
        <input  type="file" id="p1b5" name="p1b5" required><br><br>
        <label for="bebidadescription5">Descrição da Bebida:</label>
        <textarea class="input" id="bebidadescription5" name="bebidadescription5" required></textarea><br><br>
        <label for="bebidaprice5">Preço da Bebida:</label>
        <input class="input" type="text" id="bebidaprice5" name="bebidaprice5" required><br><br>

        <label for="bebidaname6">Nome da Bebida 6:</label>
        <input class="input" type="text" id="bebidaname6" name="bebidaname6" required><br><br>
        <label for="file">Carregar produto 1 Bebida:</label>
        <input  type="file" id="p1b6" name="p1b6" required><br><br>
        <label for="bebidadescription6">Descrição da Bebida:</label>
        <textarea class="input" id="bebidadescription6" name="bebidadescription6" required></textarea><br><br>
        <label for="bebidaprice6">Preço da Bebida:</label>
        <input class="input" type="text" id="bebidaprice6" name="bebidaprice6" required><br><br>
        

        <label for="phonenumber">Número de Telefone (WhatsApp):</label>
        <input class="input" type="text" id="phonenumber" name="phonenumber" required><br><br>
        <label for="corQR">Cor do QR Code</label><br>
        <input class="input" class="input" type="color" id="corQR" name="corQR" value="#000000"><br><br>
        <label for="backQR">Cor de Fundo QR Code</label><br>
        <input class="input" class="input" type="color" id="backQR" name="backQR" value="#ffffff"><br><br>
        <label for="file">Carregar Logotipo:</label>
        <input  type="file" id="file" name="file" required><br><br>
        <button type="button" id="gerarQR">Gerar QR Code</button>
    </form>
    <div id="qrcode">
        <img src="/static/img/qrcodebr.png" alt="qrcodebr"> 
    </div>
    <div class="btQr">
        <a id="downloadLink" style="display: none;" download="qrcode.png"><button id="downloadButton">Baixar QR Code</button></a>
    </div>
    <script>
        document.getElementById('gerarQR').addEventListener('click', function () {
            var form = document.getElementById('qrcodeForm');
            var formData = new FormData(form);

            fetch('/generate', {
                method: 'POST',
                body: formData
            })
                .then(response => response.blob())
                .then(blob => {
                    var url = URL.createObjectURL(blob);
                    var img = document.createElement('img');
                    img.src = url;
                    document.getElementById('qrcode').innerHTML = '';
                    document.getElementById('qrcode').appendChild(img);

                    document.getElementById('downloadLink').setAttribute('href', url);
                    document.getElementById('downloadLink').style.display = 'block';
                })
                .catch(error => console.error('Erro:', error));
        });
    </script>
    <script src="static/menu.js"></script>
</body>

</html>
