<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio Online - {{restaurantname | safe }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cardapio.css') }}">
</head>

<body>
    <header style="background-image: url({{ url_for('static', filename='uploads/')}});">
        <img src="{{ url_for('static', filename='uploads/') }}" class="rounded-image" alt="">
        <h1>{{restaurantname | safe }}</h1>
        <p>Bem-vindo ao nosso cardápio online!</p>
        <div class="end">
            <p>Seu Endereco e Horario de Funcionamento Aqui!</p>
        </div>
    </header>
    <main>
        <section id="entradas">
            <h2>Conheca nosso menu</h2>
            <div class="item">
                <h3>{{entradaname | safe }}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{ entradadescription | safe }}</p>
                <p>Preço:{{entradaprice | safe }}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20entrada%20{{entradaname | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{entradaname2 | safe }}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{ entradadescription2 | safe }}</p>
                <p>Preço:{{entradaprice2 | safe }}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20entrada%20{{entradaname2 | safe }}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{entradaname3 | safe }}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{ entradadescription3 | safe }}</p>
                <p>Preço:{{entradaprice3 | safe }}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20entrada%20{{entradaname3 | safe }}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{entradaname4 | safe }}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{ entradadescription4 | safe }}</p>
                <p>Preço:{{entradaprice4 | safe }}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20entrada%20{{entradaname4 | safe }}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{entradaname5 | safe }}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{ entradadescription5 | safe }}</p>
                <p>Preço:{{entradaprice5 | safe }}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20entrada%20{{entradaname5 | safe }}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{entradaname6 | safe }}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{ entradadescription6 | safe }}</p>
                <p>Preço:{{entradaprice6 | safe }}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20entrada%20{{entradaname6 | safe }}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <!-- Adicione mais itens aqui -->
        </section>
        <section id="pratos-principais">
            <div class="item">
                <h3>{{pratoprincipalname | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{pratoprincipaldescription | safe}}</p>
                <p>Preço: R${{pratoprincipalprice | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20o%20prato%20principal%20{{pratoprincipalname | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{pratoprincipalname2 | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{pratoprincipaldescription2 | safe}}</p>
                <p>Preço: R${{pratoprincipalprice2 | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20o%20prato%20principal%20{{pratoprincipalname2 | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{pratoprincipalname3 | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{pratoprincipaldescription3 | safe}}</p>
                <p>Preço: R${{pratoprincipalprice3 | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20o%20prato%20principal%20{{pratoprincipalname3 | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{pratoprincipalname4 | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{pratoprincipaldescription4 | safe}}</p>
                <p>Preço: R${{pratoprincipalprice4 | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20o%20prato%20principal%20{{pratoprincipalname4 | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{pratoprincipalname5 | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{pratoprincipaldescription5 | safe}}</p>
                <p>Preço: R${{pratoprincipalprice5 | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20o%20prato%20principal%20{{pratoprincipalname5 | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{pratoprincipalname6 | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{pratoprincipaldescription6 | safe}}</p>
                <p>Preço: R${{pratoprincipalprice6 | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20o%20prato%20principal%20{{pratoprincipalname6 | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <!-- Adicione mais itens aqui -->
        </section>
        <section id="sobremesas">
            <h2>Sobremesas</h2>
            <div class="item">
                <h3>{{sobremesaname | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{sobremesadescription | safe}}</p>
                <p>Preço: R${{sobremesaprice | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20sobremesa%20{{sobremesaname | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{sobremesaname2 | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{sobremesadescription2 | safe}}</p>
                <p>Preço: R${{sobremesaprice2 | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20sobremesa%20{{sobremesaname2 | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{sobremesaname3 | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{sobremesadescription3 | safe}}</p>
                <p>Preço: R${{sobremesaprice3 | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20sobremesa%20{{sobremesaname3 | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{sobremesaname4 | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{sobremesadescription4 | safe}}</p>
                <p>Preço: R${{sobremesaprice4 | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20sobremesa%20{{sobremesaname4 | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{sobremesaname5 | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{sobremesadescription5 | safe}}</p>
                <p>Preço: R${{sobremesaprice5 | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20sobremesa%20{{sobremesaname5 | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{sobremesaname6 | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{sobremesadescription6 | safe}}</p>
                <p>Preço: R${{sobremesaprice6 | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20sobremesa%20{{sobremesaname6 | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <!-- Adicione mais itens aqui -->
        </section>
        <section id="bebidas">
            <h2>Bebidas</h2>
            <div class="item">
                <h3>{{bebidaname | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{bebidadescription | safe}}</p>
                <p>Preço: R${{bebidaprice | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20bebida%20{{bebidaname | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{bebidaname2 | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{bebidadescription2 | safe}}</p>
                <p>Preço: R${{bebidaprice2 | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20bebida%20{{bebidaname2 | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{bebidaname3 | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{bebidadescription3 | safe}}</p>
                <p>Preço: R${{bebidaprice3 | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20bebida%20{{bebidaname3 | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{bebidaname4 | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{bebidadescription4 | safe}}</p>
                <p>Preço: R${{bebidaprice4 | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20bebida%20{{bebidaname4 | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{bebidaname5 | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{bebidadescription5 | safe}}</p>
                <p>Preço: R${{bebidaprice5 | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20bebida%20{{bebidaname5 | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <div class="item">
                <h3>{{bebidaname6 | safe}}</h3>
                <img class="item-img" src="{{ url_for('static', filename='uploads/') }}" alt="">
                <p>{{bebidadescription6 | safe}}</p>
                <p>Preço: R${{bebidaprice6 | safe}}</p>
                <a href="https://wa.me/55{{phonenumber | safe}}?text=Gostaria%20de%20pedir%20a%20bebida%20{{bebidaname6 | safe}}"
                    target="_blank">Pedir pelo WhatsApp</a>
            </div>
            <!-- Adicione mais itens aqui -->
        </section>
    </main>
    <script>
        function sendMessage(item) {
            const phoneNumber = "55NUMERO";
            const message = `Gostaria de pedir o item: ${item}`;
            const url = `https://wa.me/${phoneNumber}?text=${encodeURIComponent(message)}`;
            window.open(url, '_blank');
        }
    </script>
</body>

</html>