<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/icon" href="/static/img/favicon.ico">
    <link rel="canonical" href="https://www.qrcodemaster.com.br/submit_form" />
    <title>Mensagem Enviada</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
</head>
<body>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo"> <img class="logo" src="static/img/logoqrcodemaster.png" alt=""></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name"></span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li><a href="/" data-translate="HOME">HOME</a></li>
                    <li><a href="/contato">CONTATO</a></li>
                    <li><a href="/politica">POLITICA PRIVACIDADE</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2>Mensagem Enviada com sucesso!</h2>
        <p>Obrigado por entrar em contato conosco. Entraremos em contato em breve.</p>
        <a href="/contato">Voltar para a página inicial</a>
    </div>
    <script src="static/menu.js"></script>
</body>
</html>
